body {
  background-color: white;
  color: black;
  font-family: monospace;
  margin: 20px;
}

h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

#game-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
}

#game-list li {
  background: #222;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
}

#game-list a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

#game-list a:hover {
  text-decoration: underline;
}
